@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: #000611;
    background-image: radial-gradient(circle, #02101f, #bc7e48, #050a30);
    font-family: 'Unica One', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    overflow-x: hidden;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
h1, h2, h3 {
    color: #e0ffff;
    text-shadow: 0 0 15px #00ffff;
    animation: fadeIn 1.5s ease-in-out;
}
.container-fluid {
    width: 100%; 
}
.navbar {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: none;
    padding: 1.5rem;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 9998;
}
.navbar-brand {
    font-size: 6rem;
    font-weight: bold;
    color: #9f1882;
    text-shadow: 0 0 20px #5f145b;
    transition: transform 0.2s ease-in-out;
    left: 100%;
}
.navbar-brand:hover {
    transform: scale(1.0);
    left: 100%;
}
.navbar-nav {
    margin-left: 280px;
    display: flex;
    gap: 5rem;
    align-items: center;
    list-style: none;
    padding: 0 20px;
}
.navbar-nav a {
    color: #050a30;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: 2px dashed rgba(0, 255, 255, 0.6);
    background: rgba(16, 4, 31, 0.8);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.navbar-nav a:hover {
    color: #ff33ff;
    text-shadow: 0 0 10px #bc7e48;
    transform: scale(1);
}
@keyframes morphing {
    0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
    50% { border-radius: 70% 30% 30% 70% / 50% 70% 30% 50%; }
    100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
}

.theme-container {
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    margin-top: 130px;
    position: relative;
    padding: 20px 40px;
}
.theme-container h3 {
    font-size: 3rem;
}
#theme-selector {
    font-size: 1.6rem; 
    padding: 0.5rem 1rem; 
    border: 2px solid #5f145b; 
    background-color: rgba(19, 19, 61, 0.95); 
    color: #e0ffff; 
    font-family: 'Space Mono', serif;
    position: fixed;
    z-index: 9999;
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    font-family: 'space mono', sans-serif;
    display: none;
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: none;
    padding: 10px;
    margin: -50px;
    list-style: none;
    min-width: 180px;
    z-index: 9999;
    box-shadow: none;
}
.dropdown:hover > .dropdown-menu,
.dropdown:focus-within > .dropdown-menu {
    display: block;
}
.dropdown-menu > li {
    display: block;
}
.dropdown-menu > li > a {
    color: #bc7e48;
    font-size: 2rem;
    padding: 0.8rem 1rem;
    display: block;
    text-decoration: none;
    background-color: rgba(6, 4, 31, 0.8);
    z-index: 9999;
}
.dropdown-menu > li > a:hover {
    background-color: rgba(182, 226, 226, 0.8);
    color: #050a30;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu a {
    border: 1px solid #050a30;
}
.dropdown-submenu > .dropdown-menu {
    display: none; /* Default hidden */
    position: absolute;
    top: 0;
    left: 100%; 
    border-radius: 0;
    margin-top: 15px;
    margin-left: -10px;
    background-color: transparent;
    z-index: 1100;
}

.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu,
.dropdown-submenu:active > .dropdown-menu {
    display: block; 
}
.container #logo-image{
    margin-top: 500px;
    max-width: 100%;
    text-align: left;
    margin: 2rem auto;
    padding: 2rem;
    background-color: transparent;
    border-radius: 15px;
    overflow-x: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.container #logo-image {
    max-width: 60%;
    margin-top: -150px;
    margin-left: 200px;
    background-color: transparent;
    animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0px); }
}

.title {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
}
.title h1 {font-family: 'Unica One', sans-serif;
    font-size: 8rem;
    color: #2e0d2e;
    text-shadow: 0 0 15px #7a4378;
    font-weight: bold;
}
.proj-container {
    font-family: 'Space Mono', sans-serif;
    font-size: 2rem;
    max-width: 65%; 
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(20, 20, 40, 0.95); 
    border: 3px solid #050a30; 
    border-radius: 50px;
    overflow-x: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-shadow: 0 0 5px rgba(182, 226, 226, 0.8);
    color: rgb(100, 255, 255); 
  }
.proj-container h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.proj-container i {
    color: rgb(75, 223, 223);
}

#global-map-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 100%;
    height: 100%;
  }
  
  #author-content #map, #global-map-container {
    max-width: 65%;
    max-height: 30%; 
    margin: 20px auto;
    border-radius: none;
    overflow: hidden;
    border: 3px solid #5f145b; 
    background-color: #082253; 
    z-index: 10;
  }
  
  #author-content #map, #global-map-container {
    width: 100%;
    height: 100%;
  }
  
/* Center the filter dropdown and map */
#map-filter-container {
    text-align: center; /* Center the dropdown */
    margin-top: 100px; /* Add space below */
}

#map-filter-container label {
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 2rem;
    color: #e0ffff;
}
  
#map-filter-container select {
    font-family: 'Space Mono', sans-serif;
    padding: 5px;
    font-size: 1.8rem;
    border-radius: none;
    border: 2px solid #5f145b;
    background-color: #082253;
    color: #e0ffff;
}
.info {
    text-transform: uppercase;
    width: 45%; 
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}
#author-content h3{
    text-align: center;
    letter-spacing: 4px;
    font-size: 4rem;
    background-color:  rgba(58, 46, 21, 0.3);
    color: #bbf7ff;
    border-radius: 50px;
    padding: 2rem;
    border: 3px solid rgba(170, 204, 204, 0.3);
    border-style:double;
}
#author-content h1 {
    text-transform: none;
    margin-top: 80px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: #082253;
    text-shadow: 0 0 10px #bc7e48;
    animation: floating 6s ease-in-out infinite;
}
.author-figure {
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 2rem;
}
.author-image {
    left: 100%;
    max-width: 50%;
    height: auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: hue-rotate(100deg) saturate(50%) contrast(150%);
    animation: floating 6s ease-in-out infinite;
}
.author-caption {
    font-size: 2rem;
    width: 50%; 
    margin: 20px auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(24, 5, 137, 0.3), rgba(43, 8, 158, 0.3));
    border-radius: 50px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 15px rgb(1, 22, 22);
}

.container #author-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.container #map {
    width: 100%;
    max-width: 1000px !important; 
    margin-left: 20px;
    border-radius: none;
    overflow: hidden;
    border: 3px solid #5f145b; 
    background-color: #082253; 
    z-index: 10;
}
#entity-table-container {
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px 50px;
    margin-bottom: 100px;
    background: rgba(19, 19, 61, 0.95);
    border-radius: none;
    box-shadow: 0 4px 10px rgba(13, 110, 110, 0.2);
    opacity: 0.7;
}
#entity-table {
    font-family: 'space mono', sans-serif;
    text-transform: none;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.8rem; 
}
#entity-table thead {
    background: #240422; 
    color: #bbf7ff;
    font-size: 2.4rem;
    text-align: center;
    opacity: 0.7;
    box-shadow: #00ffff;

}
#entity-table th, #entity-table td {
    padding: 15px;
    border: 2px solid #0f7789; 
    text-align: center;
}
#entity-table tbody tr:nth-child(even) {
    background: rgba(16, 4, 31, 0.8)
}
#entity-table tbody tr:hover {
    background: #deebf3b7; 
    transition: 0.3s ease-in-out;
}
#entity-table a {
    font-weight: normal;
    text-decoration: none;
    color: #a1d6e8; 
    font-weight: bold;
}
#entity-table a:hover {
    text-decoration: underline;
    color: #240422; 
}
#scrollToTopBtn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    position: fixed;
    margin-bottom: 100px;
    right: 20px;
    color: #02101f;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
    background-color: rgba(255, 255, 255, 0.238);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.72);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
              0 0 20px rgba(255, 255, 255, 0.05);
    color: #02101f;
}
.work-title {
    font-size: 5rem;
    margin-left: -80px;
}
pre {
    font-family: 'space mono', sans-serif;
    font-size: 2rem;
    text-transform: none;
    color: var(--primary-color); /* Neon teal text */
    background: rgba(70, 120, 202, 0.409);
    box-shadow: #02101f;
    padding: 1.5rem;
    white-space: pre-line; 
    word-break: normal; 
    overflow-wrap: normal;
    line-height: 2;
    border-radius: 8px;
    opacity: 0.8; 
    border: 3px solid #050a30; 
    border-radius: 50px;
    overflow-x: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-shadow: 0 0 5px rgba(57, 134, 134, 0.8);
    color: rgb(175, 224, 224); 
    margin-left: -150px;
  }

  .popup-window {
    max-width: 700px;
    border-radius: none;
    padding: 20px;
    background:rgb(175, 224, 224) !important; /* Fully black background */
    border: 3px solid #02101f; /* Hot pink neon */
    font-family: 'space mono', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #02101f;
    text-shadow: 0 0 10px #082253;
  }
  
  /* Adjust text wrapping for popup */
  .popup-content {
    display: block;
    text-align: justify;
    max-width: 100%;
  }
  
  /* Cyberpunk-styled Image */
  .popup-image {
    width: 220px;
    height: auto;
    float: left;
    margin: 5px 20px 10px 0;
    border-radius: 50%;
    box-shadow: 0 0 15px #082253
  }
  
  /* Cyberpunk Text with Neon Glow */
  .popup-text {
    font-size: 17px;
    text-align: justify;
    color: #02101f;
    overflow-wrap: break-word;
  }
  
  /* Cyberpunk Close Button */
  .close-btn {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #050a30;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
    clear: both;
    text-shadow: 0 0 20px #c648c6;
    font-size: 2.5rem;
    font-family: 'Unica One', sans-serif;
  }
  
  .close-btn:hover {
    background: var(--accent-color); /* Yellow */
    color: black;
    text-shadow: 0 0 10px var(--primary-color);
  }
  
  /* Mobile Adjustments */
  @media (max-width: 600px) {
    .popup-window {
        max-width: 95%;
    }
  
    .popup-image {
        float: none;
        display: block;
        margin: 0 auto 12px auto;
    }
  
    .popup-text {
        text-align: left;
    }
  }
  .tag {
    font-family: 'silkscreen', sans-serif;
    cursor: pointer; /* Hand pointer on hover */
    font-weight: bold;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  }

  .tag.character {
    color: #050a30; 
  }
  
  .tag.place {
    color: #2e0d2e; /* Neon Cyan */
  }
  
  .tag.dish {
    color: #00ffff;
  }
  
  /* Hover effect for Cyberpunk entities */
  .tag:hover {
    color: white;
  }
  .read-more-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: transparent;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unica One', sans-serif;
    font-size: 3rem;
    box-shadow: 0 0 10px var(--accent-color);
  } 

.footer {
    width: 100%; 
    margin: 0;
    padding: 2rem;
    font-family: 'Space Mono', sans-serif;
    font-size: 2rem;
    color: #f1efeb;
    background-color: rgba(220, 161, 36, 0.3);
    opacity: 0.5;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow-x: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}


.doc-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 65%;
    margin: 3rem auto;
    padding: 5rem;
    border-radius: 20px;
    background: transparent;
    border: 5px solid rgba(24, 145, 145, 0.6); 
    box-shadow: 2px 2px 10px rgb(6, 10, 10); 
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.doc-container h1, .doc-container h2, .doc-container h3 {
    font-family: 'silkscreen', serif;
    text-align: center;
    text-transform: uppercase;
}
.doc-container h1 {
    letter-spacing: 5px;
    color: #5f145b;
    -webkit-text-stroke: 2px black;
    font-size: 8rem;
    position: relative;
    text-shadow: 6px -2px 1px #bbf7ff;
}
.doc-container h2 {
    color: #9f1882;
    font-size: 5rem;
    margin-top: 1.5rem;
}

.doc-container h3 {
    font-size: 4rem;
    margin-top: 1.5rem;
}
.doc-container p {
    font-family: 'space mono', serif;
    color: #000;
    font-size: 2.5rem;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.doc-container .drop-cap::first-letter {
    font-family: 'space mono', serif; 
    font-size: 10rem; 
    font-weight: bold;
    color: #240422;
    float: left;
    line-height: 0.85;
    margin-right: 5px;
}
.doc-container ul {
    padding-left: 20px;
}

.doc-container ul li {
    font-family: 'space mono', serif;
    font-size: 2.5rem;
    color: #000;

    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.doc-container ul li::before {
    color: #8b5e3c; /* Golden-brown ink */
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
}

.doc-container hr {
    border: none;
    height: 3px;
    background: #000;
    margin: 3rem 0;
}

.doc-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 2rem;
    margin: 2rem auto;
}

.doc-container thead {
    background: transparent;
    color: #443790;
    -webkit-text-stroke: 0.5px #240422;
    font-size: 3.5rem;
    text-align: left;
}
.doc-container th, .doc-container td {
    padding: 15px;
    border: 2px solid #443790;
    text-align: center;
}

.doc-container thead th:nth-child(even) {
    background: rgba(149, 124, 84, 0.3);
}
.doc-container tbody td:nth-child(even) {
    background: rgba(149, 124, 84, 0.3);
}
.doc-container .button {
    background-color: #000;
    border: 4px double #e7d8b0;
    color: #e7d8b0;
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    font-family: 'Staatliches', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.doc-container .button:hover {
    background-color: #e7d8b0;
    color: #000;
    border: 4px double #000;
}

#github-logo {
    width: 60px; /* Adjust for appropriate size */
    height: auto;
    filter: drop-shadow(0 0 8px var(--primary-color)) contrast(1.5); /* Neon glow */
    border: 3px solid var(--accent-color); /* Neon yellow border */
    border-radius: 12px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8); /* Dark cyberpunk contrast */
    box-shadow: 0 0 12px var(--primary-color), 0 0 20px var(--secondary-color); /* Neon glow effect */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  #github-logo:hover {
    filter: drop-shadow(0 0 12px var(--secondary-color)) contrast(2) brightness(1.2); /* Intensified neon effect */
    box-shadow: 0 0 20px var(--accent-color), 0 0 30px var(--secondary-color); /* Stronger glow */
    transform: scale(1.1) rotate(2deg); /* Slight cyber-tilt */
  }